@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Rubik&display=swap");

// fonts
$title-font: "Mclaren", serif;
$body-font: "Rubik", sans-serif;

// colors
$dark-blue: #003249;
$meddark-blue: #007ea7;
$medlight-blue: #80ced7;
$light-blue: #9ad1d4;
$pale-blue: #ccdbdc;
$yellow: #ffff82;
