@import "../../resources/variables.scss";

#header {
  background-color: $meddark-blue;
  border-bottom: 3px solid $yellow;
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 2em;
}

h1 {
  font-family: $title-font;
  font-size: 3em;
  color: $yellow;
}
