@import "../../resources/variables.scss";

#options {
  font-family: $body-font;
  background-color: $meddark-blue;
  width: 60%;
  height: max-content;
  margin: 0 auto;
  padding: 1em;
  border-radius: 20px;
  border: 3px solid $yellow;
  color: $dark-blue;
}

h2 {
  background-color: $light-blue;
  border-radius: 10px;
  width: max-content;
  margin: 0 auto;
  padding: 0.3em;
  border: 2px solid $pale-blue;
  margin-bottom: 0.75em;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

legend {
  background-color: $light-blue;
  border-radius: 10px;
  width: max-content;
  padding: 0.25em;
  border: 2px solid $pale-blue;
  margin-bottom: 0.3em;
}

fieldset {
  width: 75%;
  background-color: $light-blue;
  border: 2px solid $medlight-blue;
  border-radius: 5px;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

button {
  border: 2px solid $yellow;
  border-radius: 5px;
  color: $dark-blue;
  background-color: $medlight-blue;
  font-weight: bold;
  font-size: 1.15em;
  cursor: pointer;
  &:active {
    border-color: $dark-blue;
    color: $yellow;
    background-color: $meddark-blue;
  }
  &:hover {
    background-color: $pale-blue;
  }
}
